:root {
  --deep-champagne: #ebce97ff;
  --antique-bronze: #656236ff;
  --wheat: #eed59eff;
  --moss-green: #909c52ff;
  --main-text: black;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --main-border: 1px solid var(--antique-bronze);
  --main-border-radius: 7px;
  --secondary-bg: #f3e1bf;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--deep-champagne);
  font-family: 'Inter', sans-serif;
  color: var(--main-text);
}

.header {
  display: flex;
  align-items: center;
  width: 95vw;
  height: 11vh;
  background-color: var(--moss-green);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  box-shadow: var(--shadow);
  margin: 16px auto;
}
.header-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 2.6px;
  text-shadow: var(--shadow);
  margin: 21.5px auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 98vw;
  height: 40vh;
  margin: 50px auto 30px auto;
}
.panda-img {
  width: 150px;
  margin-left: 10px;
}
.speech-img {
  width: 225px;
  background-image: url('../images/Group 5 (1).png');
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 14.5vh;
  margin: 50px auto;
  text-align: center;
  box-shadow: var(--shadow);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 193px;
  height: 68px;
  margin: auto;
  background-color: var(--moss-green);
  border: var(--main-border);
  border-radius: 100px/80px;
  font-size: 27px;
  font-weight: bolder;
}

.description {
  background: var(--secondary-bg);
}
.description p {
  font-size: 16.5px;
  font-weight: bolder;
  margin-right: 2px;
  margin-left: 2px;
}
.description span {
  letter-spacing: 2.6px;
}

.play-btn a {
  text-decoration: none;
  color: var(--main-text);
}
.play-btn img {
  width: 22px;
  height: 22px;
  transform: rotate(90deg);
  margin-left: 15px;
}

.how-to-play {
  width: 92vw;
  margin: 30px auto;
  padding: 4px 7px;
  height: 16vh;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: var(--secondary-bg);
}

.word-box {
  margin: 30px auto;
  height: 4vh;
  background-color: white;
  border: var(--main-border);
}
#word {
  width: 100%;
  border: none;
  text-align: center;
  letter-spacing: 1.1px;
  font-size: 24px;
}

.answer-box {
  height: 28vh;
  margin: 30px auto 20px auto;
  border: none;
  box-shadow: none;
  overflow-y: auto;
}
#answers {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  list-style: none;
}
li {
  margin: 10px 0px;
  padding: 3px 5px;
  text-align: justify;
  font-weight: 700;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.actual-answer {
  border: 5px solid rgba(42, 117, 50, 0.6);
}
.correct-answer {
  background-color: rgba(42, 117, 50, 0.4);
}
.incorrect-answer {
  background-color: rgba(255, 0, 0, 0.4);
}

.bottom-box {
  height: 23vh;
  margin: 30px 10px 10px 10px;
  border: none;
  box-shadow: none;
}
.next-btn,
.end-btn {
  width: 105px;
  height: 49px;
  font-size: 16px;
  cursor: pointer;
}
.next-btn {
  margin: 8px auto 72px 0px;
}
.end-btn {
  margin: 8px 0px 72px auto;
}
.end-btn a {
  text-decoration: none;
  color: var(--main-text);
}

.panda2 {
  margin-top: 45px;
}
.panda2 img {
  height: 174px;
}

@media only screen and (min-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
  }
  .header {
    width: 95%;
  }
  .hero {
    width: 95%;
  }
  .speech-img {
    width: 82%;
    background-image: url('../images/Group 5 (1).png');
    background-repeat: space;
  }
  .container {
    width: 95%;
    height: 9vh;
  }
  .description p {
    font-size: 21.5px;
  }
  .how-to-play {
    font-size: 20px;
  }
  .word-box {
    height: 5vh;
  }
  #word {
    font-size: 30px;
  }
  .answer-box {
    height: 28vh;
  }
  #answers {
    font-size: 18px;
    width: 85%;
    height: 90%;
  }
  li {
    height: 10vh;
    display: flex;
    align-items: center;
  }
  li:hover {
    background-color: #ddd;
  }
  .noHover {
    pointer-events: none;
  }
  .li-text {
    margin-left: 7px;
  }
  .next-btn:hover,
  .play-btn:hover {
    background-color: var(--wheat);
  }
  .end-btn:hover {
    background-color: red;
  }
}
